.timer-panel {
  background-color: $tomato;
  color: $white;
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  height: 100vh;

  @include for-phone-only {
    @include span(24 of 24 first no-gutters);
  }

  @include for-tablet-portrait-up {
    @include span(12 of 24 last no-gutters);
  }

  @include for-tablet-landscape-up {
    @include span(8 of 24 last no-gutters);
  }

  @include for-med-desktop-up {
    @include span(4 of 24 last no-gutters);
  }

  .btn {
    border: 1px solid $white;
    box-shadow: 0 4px $white;
    color: $white;

    &:hover {
      border: 1px solid darken($tomato, 20%);
      box-shadow: 0 4px darken($tomato, 20%);
      color: darken($tomato, 20%);
    }
  }

  &.work-session {
    background-color: $stem;

    .btn:hover {
      border: 1px solid darken($stem, 20%);
      box-shadow: 0 4px darken($stem, 20%);
      color: darken($stem, 20%);
    }
  }

  &.paused-session {
    background-color: $seed;

    .btn:hover {
      border: 1px solid darken($seed, 20%);
      box-shadow: 0 4px darken($seed, 20%);
      color: darken($seed, 20%);
    }
  }

  &.break-session {
    background-color: $sky;

    .btn:hover {
      border: 1px solid darken($sky, 20%);
      box-shadow: 0 4px darken($sky, 20%);
      color: darken($sky, 20%);
    }
  }

  h3 {
    background-color: inherit;
    border: 1px solid $white;
    border-radius: 10px;
    font-size: 1.35em;
    font-weight: 100;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    padding: 2px 0 7px;
    text-align: center;
    width: 80%;

    span {
      background-color: inherit;
      border: 1px solid $white;
      border-radius: 25px;
      bottom: 0;
      display: block;
      font-family: 'Open Sans';
      font-size: .4em;
      height: 13px;
      line-height: 13px;
      margin: 0 auto;
      padding: 0 10px;
      position: relative;
      text-transform: uppercase;
      width: 25%;
    }
  }

  .timer {
    //border: 6px solid $white;
    //border-radius: 25px;
    font-family: 'Open Sans';
    font-size: 5em;
    font-weight: 700;
    margin: 50px auto;
    padding: 0;
    text-align: center;
    width: 70%;
  }

  .actions {
    display: block;
    margin: 0 auto;
    padding-bottom: 100px;
    width: 100%;

    .btn {
      background-color: transparent;
      border-radius: 10px;
      cursor: pointer;
      display: block;
      font-family: 'Open Sans';
      font-size: 1em;
      font-weight: 300;
      height: 40px;
      margin: 0 auto;
      text-align: center;
      width: 60%;
    }

    button.btn.half {
      float: left;
      margin: 0 2%;
      width: 37%;
    }

    button.btn.half.first {
      margin-left: 39px;
    }    

  }

  p {
    text-align: center;
    width: 100%;
  }
}
