.timer-panel {
  @include span(6 of 24 last no-gutters);
  background-color: $tomato;
  color: $white;
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  height: 100vh;

  &.work-session {
    background-color: $stem;
  }

  &.paused-session {
    background-color: $seed;
  }

  &.break-session {
    background-color: $sky;
  }

  h3 {
    background-color: inherit;
    border: 1px solid $white;
    border-radius: 10px;
    font-size: 1.35em;
    font-weight: 100;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    padding: 2px 0 7px;
    text-align: center;
    width: 80%;

    span {
      background-color: inherit;
      border: 1px solid $white;
      border-radius: 25px;
      bottom: 0;
      display: block;
      font-family: 'Open Sans';
      font-size: .4em;
      height: 13px;
      line-height: 13px;
      margin: 0 auto;
      padding: 0 10px;
      position: relative;
      text-transform: uppercase;
      width: 25%;
    }
  }

  .timer {
    border: 6px solid $white;
    border-radius: 100%;
    font-family: 'Open Sans';
    font-size: 4.25em;
    font-weight: 700;
    line-height: 194px;
    margin: 70px auto;
    position: relative;
    text-align: center;
    width: 65%;

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    .time {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .actions {
    display: block;
    margin: 0 auto;
    width: 100%;

    .btn {
      background-color: transparent;
      border: 2px solid $white;
      border-radius: 10px;
      color: $white;
      cursor: pointer;
      display: block;
      font-family: 'Open Sans';
      font-size: 1.5em;
      font-weight: 300;
      height: 40px;
      margin: 0 auto;
      text-align: center;
      width: 60%;
    }

    .half {
      float: left;
      margin: 0 5%;
      width: 40%;
    }
  }

  p {
    margin: 20px 0;
    text-align: center;
    width: 100%;
  }
}
