// Color Scheme

$tomato:    rgb(204, 57, 75);
$seed:     rgb(255, 205, 101);
$stem:      rgb(81, 150, 82);
$sky:       rgb(50, 201, 226);
$tundora:   rgb(74, 74, 74);
$dovegray:  rgb(63, 63, 63);
$mineshaft: rgb(38, 38, 38);
$white:     rgb(255, 255, 255);
